In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import gc

In [2]:
#Import dataframe
path=r'C:\Users\Alex\Instacart Basket Analysis'

In [3]:
ords_prods_cust_merge=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Instacart_Basket_Merged.pkl'))

In [4]:
ords_prods_cust_merge.head()

,user_id,gender,state,age,date_joined,number_of_dependants,marital_status,income,order_id,eval_set,...,Busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_frequency,frequency_flag,_merge
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,2543867,prior,...,Regularly busy,Busiest days,Most Orders,18,Regular customer,11.74,High spender,12.5,Regular customer,both
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,1285508,prior,...,Regularly busy,Regularly busy,Most Orders,18,Regular customer,11.74,High spender,12.5,Regular customer,both
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,2578584,prior,...,Regularly busy,Busiest days,Most Orders,18,Regular customer,11.74,High spender,12.5,Regular customer,both
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,423547,prior,...,Regularly busy,Regularly busy,Most Orders,18,Regular customer,11.74,High spender,12.5,Regular customer,both
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,2524893,prior,...,Regularly busy,Least busy days,Most Orders,18,Regular customer,11.74,High spender,12.5,Regular customer,both

# 3. Create a regional segmentation of the data. Create a "Region column based on the "state" column for your customers data set.

In [5]:
#Assign state values to region variables
Newengland= ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']
Midwest=['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
South=['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']
West=['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [6]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['state'].isin(Newengland),'region']='Newengland'

In [7]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['state'].isin(Midwest),'region']='Midwest'

In [8]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['state'].isin(South),'region']='South'

In [9]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['state'].isin(West),'region']='West'

In [10]:
ords_prods_cust_merge['region'].value_counts(dropna=False)

South         1066042
West           815870
Midwest        742365
Newengland     560430
Name: region, dtype: int64

In [11]:
#Cross region variable with spending flag
crosstab=pd.crosstab(ords_prods_cust_merge['region'], ords_prods_cust_merge['spending_flag'], dropna=False)

In [12]:
crosstab

spending_flag  High spender  Low spender
region
Midwest              106915       635450
Newengland            80513       479917
South                158824       907218
West                 120813       695057

the South has the highest spending rate both in the low and the high spender columns, while newengland has the least.

In [13]:
ords_prods_cust_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'regions.pkl'))

system continues stopping due to memeory issues-- aiming to split up the segments

In [14]:
ords_prods_cust_merge.dtypes

user_id                      int16
gender                      object
state                       object
age                           int8
date_joined                 object
number_of_dependants         int32
marital_status              object
income                       int32
order_id                     int32
eval_set                    object
order_number                  int8
orders_day_of_week            int8
order_time_of_day             int8
days_since_prior_order     float16
product_id                   int16
add_to_cart_order            int16
reordered                    int16
product_name                object
aisle_id                     int16
department_id                int16
prices                     float32
price_range_loc             object
Busiest_day                 object
Busiest_days                object
busiest_period_of_day       object
max_order                     int8
loyalty_flag                object
avg_price                  float32
spending_flag               object
median_frequency           float16
frequency_flag              object
_merge                    category
region                      object
dtype: object

# 4. Create an exclusion flag for low activity customers (those with less than 5 orders) and exclude them from the data.

In [15]:
#Assign low activity customer
ords_prods_cust_merge.loc[ords_prods_cust_merge['max_order']<5, 'activity_flag']='low activity customer'

In [16]:
#Assign high activity customer
ords_prods_cust_merge.loc[ords_prods_cust_merge['max_order']>= 5, 'activity_flag']='high activity customer'

In [17]:
#Print frequency of the activity flags
ords_prods_cust_merge['activity_flag'].value_counts(dropna=False)

high activity customer    3129407
low activity customer       55300
Name: activity_flag, dtype: int64

In [18]:
ords_prods_cust_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3184707 entries, 0 to 3184706
Data columns (total 34 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 int16
 1   gender                  object
 2   state                   object
 3   age                     int8
 4   date_joined             object
 5   number_of_dependants    int32
 6   marital_status          object
 7   income                  int32
 8   order_id                int32
 9   eval_set                object
 10  order_number            int8
 11  orders_day_of_week      int8
 12  order_time_of_day       int8
 13  days_since_prior_order  float16
 14  product_id              int16
 15  add_to_cart_order       int16
 16  reordered               int16
 17  product_name            object
 18  aisle_id                int16
 19  department_id           int16
 20  prices                  float32
 21  price_range_loc         object
 22  Busiest_day             object
 23  Busiest_days            object
 24  busiest_period_of_day   object
 25  max_order               int8
 26  loyalty_flag            object
 27  avg_price               float32
 28  spending_flag           object
 29  median_frequency        float16
 30  frequency_flag          object
 31  _merge                  category
 32  region                  object
 33  activity_flag           object
dtypes: category(1), float16(2), float32(2), int16(6), int32(3), int8(5), object(15)
memory usage: 516.3+ MB

In [19]:
ords_prods_cust_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'activity flags.pkl'))

In [20]:
df_low_activity_customers=ords_prods_cust_merge[ords_prods_cust_merge['activity_flag']=='low activity customer']

In [21]:
df_low_activity_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'LOW_ACTIVITY_CUSTOMER.pkl'))

In [23]:
df_high_activity_customers=ords_prods_cust_merge[ords_prods_cust_merge['activity_flag']=='high activity customer']

In [24]:
df_high_activity_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'HIGH_ACTIVITY_CUSTOMER.pkl'))