In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import gc

In [2]:
#Import dataframe
path=r'C:\Users\Alex\Instacart Basket Analysis'

In [3]:
df_final=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'HIGH_ACTIVITY_CUSTOMER.pkl'))

q-- should i be importing ^this df, with only the high activity customers, as q 4 says the cfo wants low activity customers excluded, or 'Instacart_Basket_Merged' as this includes everything?

In [4]:
#Create a list holding True/False values to the test np.random.rant() <=0.7\n
dev=np.random.rand(len(df_final))<=0.7

In [5]:
#Store 70% of the sample in the dataframe big
big=df_final[dev]

In [6]:
#Store 30% of the sample in the dataframe small
small=df_final[~dev]

In [7]:
#Add both samples together to check results
len(df_final)

3129407

In [8]:
len(big)+len(small)

3129407

confirmed-- rows in both samples added together equals the number of rows as the original df

In [9]:
#See columns available for analysis
df_final.columns

Index(['user_id', 'gender', 'state', 'age', 'date_joined',
       'number_of_dependants', 'marital_status', 'income', 'order_id',
       'eval_set', 'order_number', 'orders_day_of_week', 'order_time_of_day',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', 'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'Busiest_day', 'Busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'avg_price',
       'spending_flag', 'median_frequency', 'frequency_flag', '_merge',
       'region', 'activity_flag'],
      dtype='object')

In [10]:
#Reduce samples to columns relevant to analysis
df_final_subset=small[['gender', 'state', 'age', 'number_of_dependants', 'marital_status', 'income', 'order_number', 'orders_day_of_week', 'order_time_of_day', 'department_id', 'prices', 'price_range_loc', 'Busiest_day', 'busiest_period_of_day', 'region', 'loyalty_flag', 'spending_flag', 'frequency_flag']]

In [11]:
df_final_subset.head()

,gender,state,age,number_of_dependants,marital_status,income,order_number,orders_day_of_week,order_time_of_day,department_id,prices,price_range_loc,Busiest_day,busiest_period_of_day,region,loyalty_flag,spending_flag,frequency_flag
7,Female,Missouri,48,3,married,165665,7,5,15,16,12.6,Mid range product,Regularly busy,Most Orders,Midwest,Regular customer,High spender,Regular customer
20,Female,Pennsylvania,56,2,married,141705,5,1,9,7,9.0,Mid range product,Regularly busy,Most Orders,Newengland,Regular customer,High spender,Regular customer
22,Female,Pennsylvania,56,2,married,141705,8,1,15,7,9.0,Mid range product,Regularly busy,Most Orders,Newengland,Regular customer,High spender,Regular customer
25,Female,Pennsylvania,56,2,married,141705,4,1,17,16,12.6,Mid range product,Regularly busy,Average orders,Newengland,Regular customer,High spender,Regular customer
27,Female,Pennsylvania,56,2,married,141705,7,5,15,16,12.6,Mid range product,Regularly busy,Most Orders,Newengland,Regular customer,High spender,Regular customer

In [12]:
df_final_subset.shape

(938229, 18)

In [13]:
#Import departments data
df_depts=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col=0)

^what does index_col=0 do/indicate here?

In [14]:
df_depts.head()

  department
1     frozen
2      other
3     bakery
4    produce
5    alcohol

In [15]:
#Create data dictionary for values in the "department_id" column
data_dict=df_depts.to_dict('index')

In [16]:
data_dict

{1: {'department': 'frozen'},
 2: {'department': 'other'},
 3: {'department': 'bakery'},
 4: {'department': 'produce'},
 5: {'department': 'alcohol'},
 6: {'department': 'international'},
 7: {'department': 'beverages'},
 8: {'department': 'pets'},
 9: {'department': 'dry goods pasta'},
 10: {'department': 'bulk'},
 11: {'department': 'personal care'},
 12: {'department': 'meat seafood'},
 13: {'department': 'pantry'},
 14: {'department': 'breakfast'},
 15: {'department': 'canned goods'},
 16: {'department': 'dairy eggs'},
 17: {'department': 'household'},
 18: {'department': 'babies'},
 19: {'department': 'snacks'},
 20: {'department': 'deli'},
 21: {'department': 'missing'}}

In [17]:
#Assign department_id values using data dictionary
df_final_subset.loc[df_final_subset['department_id']==1, 'department']='frozen'

C:\Users\Alex\AppData\Local\Temp\ipykernel_9288\3312943187.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[df_final_subset['department_id']==1, 'department']='frozen'

In [18]:
df_final_subset.loc[df_final_subset['department_id']==2, 'department']='other'

In [19]:
df_final_subset.loc[df_final_subset['department_id']==3, 'department']='bakery'

In [20]:
df_final_subset.loc[df_final_subset['department_id']==4, 'department']='produce'

In [21]:
df_final_subset.loc[df_final_subset['department_id']==5, 'department']='alcohol'

In [22]:
df_final_subset.loc[df_final_subset['department_id']==6, 'department']='international'

In [23]:
df_final_subset.loc[df_final_subset['department_id']==7, 'department']='beverages'

In [24]:
df_final_subset.loc[df_final_subset['department_id']==8, 'department']='pets'

In [25]:
df_final_subset.loc[df_final_subset['department_id']==9, 'department']='dry goods pasta'

In [26]:
df_final_subset.loc[df_final_subset['department_id']==10, 'department']='bulk'

In [27]:
df_final_subset.loc[df_final_subset['department_id']==11, 'department']='personal care'

In [28]:
df_final_subset.loc[df_final_subset['department_id']==12, 'department']='meat seafood'

In [29]:
df_final_subset.loc[df_final_subset['department_id']==13, 'department']='pantry'

In [30]:
df_final_subset.loc[df_final_subset['department_id']==14, 'department']='breakfast'

In [31]:
df_final_subset.loc[df_final_subset['department_id']==15, 'department']='canned goods'

In [32]:
df_final_subset.loc[df_final_subset['department_id']==16, 'department']='dairy eggs'

In [33]:
df_final_subset.loc[df_final_subset['department_id']==17, 'department']='household'

In [34]:
df_final_subset.loc[df_final_subset['department_id']==18, 'department']='babies'

In [35]:
df_final_subset.loc[df_final_subset['department_id']==19, 'department']='snacks'

In [36]:
df_final_subset.loc[df_final_subset['department_id']==20, 'department']='deli'

In [37]:
df_final_subset.loc[df_final_subset['department_id']==21, 'department']='missing'

In [38]:
df_final_subset['department'].value_counts(dropna=False)

produce       573268
dairy eggs    159831
deli          101890
beverages      41708
snacks         35785
pantry         21147
breakfast       3476
household       1124
Name: department, dtype: int64

In [39]:
df_final_subset['department'].shape

(938229,)

In [40]:
df_final_subset.head()

,gender,state,age,number_of_dependants,marital_status,income,order_number,orders_day_of_week,order_time_of_day,department_id,prices,price_range_loc,Busiest_day,busiest_period_of_day,region,loyalty_flag,spending_flag,frequency_flag,department
7,Female,Missouri,48,3,married,165665,7,5,15,16,12.6,Mid range product,Regularly busy,Most Orders,Midwest,Regular customer,High spender,Regular customer,dairy eggs
20,Female,Pennsylvania,56,2,married,141705,5,1,9,7,9.0,Mid range product,Regularly busy,Most Orders,Newengland,Regular customer,High spender,Regular customer,beverages
22,Female,Pennsylvania,56,2,married,141705,8,1,15,7,9.0,Mid range product,Regularly busy,Most Orders,Newengland,Regular customer,High spender,Regular customer,beverages
25,Female,Pennsylvania,56,2,married,141705,4,1,17,16,12.6,Mid range product,Regularly busy,Average orders,Newengland,Regular customer,High spender,Regular customer,dairy eggs
27,Female,Pennsylvania,56,2,married,141705,7,5,15,16,12.6,Mid range product,Regularly busy,Most Orders,Newengland,Regular customer,High spender,Regular customer,dairy eggs

In [41]:
#Create Age Groups
df_final_subset.loc[(df_final_subset['age']<=17)&(df_final_subset['age']>=0), 'age_group']='Child'

C:\Users\Alex\AppData\Local\Temp\ipykernel_9288\3019060698.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[(df_final_subset['age']<=17)&(df_final_subset['age']>=0), 'age_group']='Child'

In [42]:
df_final_subset.loc[(df_final_subset['age']<=30)&(df_final_subset['age']>=18), 'age_group']='Young Adult'

In [43]:
df_final_subset.loc[(df_final_subset['age']<=65)&(df_final_subset['age']>=31), 'age_group']='Middle Aged Adult'

In [44]:
df_final_subset.loc[(df_final_subset['age']>65), 'age_group']='Old Adult'

In [45]:
df_final_subset['age_group'].value_counts(dropna=False)

Middle Aged Adult    512919
Old Adult            234829
Young Adult          190481
Name: age_group, dtype: int64

In [46]:
df_final_subset['age_group'].shape

(938229,)

In [47]:
df_final_subset.head()

,gender,state,age,number_of_dependants,marital_status,income,order_number,orders_day_of_week,order_time_of_day,department_id,prices,price_range_loc,Busiest_day,busiest_period_of_day,region,loyalty_flag,spending_flag,frequency_flag,department,age_group
7,Female,Missouri,48,3,married,165665,7,5,15,16,12.6,Mid range product,Regularly busy,Most Orders,Midwest,Regular customer,High spender,Regular customer,dairy eggs,Middle Aged Adult
20,Female,Pennsylvania,56,2,married,141705,5,1,9,7,9.0,Mid range product,Regularly busy,Most Orders,Newengland,Regular customer,High spender,Regular customer,beverages,Middle Aged Adult
22,Female,Pennsylvania,56,2,married,141705,8,1,15,7,9.0,Mid range product,Regularly busy,Most Orders,Newengland,Regular customer,High spender,Regular customer,beverages,Middle Aged Adult
25,Female,Pennsylvania,56,2,married,141705,4,1,17,16,12.6,Mid range product,Regularly busy,Average orders,Newengland,Regular customer,High spender,Regular customer,dairy eggs,Middle Aged Adult
27,Female,Pennsylvania,56,2,married,141705,7,5,15,16,12.6,Mid range product,Regularly busy,Most Orders,Newengland,Regular customer,High spender,Regular customer,dairy eggs,Middle Aged Adult

In [48]:
#Create income groups
df_final_subset.loc[df_final_subset['income'] <45000, 'income_group']= 'Low Income'

C:\Users\Alex\AppData\Local\Temp\ipykernel_9288\2066670343.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[df_final_subset['income'] <45000, 'income_group']= 'Low Income'

In [49]:
df_final_subset.loc[(df_final_subset['income']<=130000)&(df_final_subset['income']>=45000), 'income_group']='Middle Income'

In [50]:
df_final_subset.loc[df_final_subset['income']>130000, 'income_group']='Upper Income'

In [51]:
df_final_subset['income_group'].value_counts(dropna=False)

Middle Income    619225
Upper Income     206160
Low Income       112844
Name: income_group, dtype: int64

In [52]:
df_final_subset['income_group'].shape

(938229,)

In [53]:
#Create dependants group
df_final_subset.loc[df_final_subset['number_of_dependants']>0, 'dependants_group']='Parent'

C:\Users\Alex\AppData\Local\Temp\ipykernel_9288\2504598507.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[df_final_subset['number_of_dependants']>0, 'dependants_group']='Parent'

In [54]:
df_final_subset.loc[df_final_subset['number_of_dependants']==0, 'dependants_group']='Not Parent'

In [55]:
df_final_subset['dependants_group'].value_counts(dropna=False)

Parent        702854
Not Parent    235375
Name: dependants_group, dtype: int64

In [56]:
df_final_subset['dependants_group'].shape

(938229,)

# Create Customer Profiles

In [57]:
#Single Adult (no dependants)
df_final_subset.loc[(df_final_subset['marital_status'] =='single') & (df_final_subset['number_of_dependants']==0), 'customer_profile']= 'Single Adult Without Children'

C:\Users\Alex\AppData\Local\Temp\ipykernel_9288\1114197330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[(df_final_subset['marital_status'] =='single') & (df_final_subset['number_of_dependants']==0), 'customer_profile']= 'Single Adult Without Children'

In [58]:
#Married Adult (no dependants)
df_final_subset.loc[(df_final_subset['marital_status']!='single')&(df_final_subset['number_of_dependants']==0), 'customer_profile']='Married Adult Without Children'

In [59]:
#Single Parent
df_final_subset.loc[(df_final_subset['marital_status'] !='married') & (df_final_subset['number_of_dependants']>0), 'customer_profile']='Single Parent'

In [60]:
#Married Parent
df_final_subset.loc[(df_final_subset['marital_status']=='married')&(df_final_subset['number_of_dependants']>0), 'customer_profile']='Married Parent'

In [61]:
df_final_subset['customer_profile'].value_counts(dropna=False)

Married Parent                    658661
Single Adult Without Children     155363
Married Adult Without Children     80012
Single Parent                      44193
Name: customer_profile, dtype: int64

In [62]:
df_final_subset['customer_profile'].shape

(938229,)

In [63]:
df_final_subset.head()

,gender,state,age,number_of_dependants,marital_status,income,order_number,orders_day_of_week,order_time_of_day,department_id,...,busiest_period_of_day,region,loyalty_flag,spending_flag,frequency_flag,department,age_group,income_group,dependants_group,customer_profile
7,Female,Missouri,48,3,married,165665,7,5,15,16,...,Most Orders,Midwest,Regular customer,High spender,Regular customer,dairy eggs,Middle Aged Adult,Upper Income,Parent,Married Parent
20,Female,Pennsylvania,56,2,married,141705,5,1,9,7,...,Most Orders,Newengland,Regular customer,High spender,Regular customer,beverages,Middle Aged Adult,Upper Income,Parent,Married Parent
22,Female,Pennsylvania,56,2,married,141705,8,1,15,7,...,Most Orders,Newengland,Regular customer,High spender,Regular customer,beverages,Middle Aged Adult,Upper Income,Parent,Married Parent
25,Female,Pennsylvania,56,2,married,141705,4,1,17,16,...,Average orders,Newengland,Regular customer,High spender,Regular customer,dairy eggs,Middle Aged Adult,Upper Income,Parent,Married Parent
27,Female,Pennsylvania,56,2,married,141705,7,5,15,16,...,Most Orders,Newengland,Regular customer,High spender,Regular customer,dairy eggs,Middle Aged Adult,Upper Income,Parent,Married Parent

# Customer Income Profiles

In [64]:
#Low income single parent
df_final_subset.loc[(df_final_subset['marital_status'] !='married')&(df_final_subset['income_group']=='Low Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Low income single parent'

C:\Users\Alex\AppData\Local\Temp\ipykernel_9288\596351784.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[(df_final_subset['marital_status'] !='married')&(df_final_subset['income_group']=='Low Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Low income single parent'

In [65]:
#Middle income single parent
df_final_subset.loc[(df_final_subset['marital_status']!='married')&(df_final_subset['income_group']=='Middle Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Middle income single parent'

In [66]:
#Upper income single parent
df_final_subset.loc[(df_final_subset['marital_status']!='married')&(df_final_subset['income_group']=='Upper Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Upper income single parent'

In [67]:
#Low income married young parent
df_final_subset.loc[(df_final_subset['age']<30)&(df_final_subset['marital_status']=='married')&(df_final_subset['income_group']=='Low Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Low income married young parent'

In [68]:
#Middle income married yount parent
df_final_subset.loc[(df_final_subset['age']<30)&(df_final_subset['marital_status']=='married')&(df_final_subset['income_group']=='Middle Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Middle income married young parent'

In [69]:
#Upper income married young parent
df_final_subset.loc[(df_final_subset['age']<30)&(df_final_subset['marital_status']=='married')&(df_final_subset['income_group']=='Upper Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Upper income married young parent'

In [70]:
#Low Income Married Older Parent
df_final_subset.loc[(df_final_subset['age']>=30) &(df_final_subset['marital_status']=='married')&(df_final_subset['income_group']=='Low Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Low income married older parent'

In [71]:
#Middle Income Married Older Parent
df_final_subset.loc[(df_final_subset['age']>=30) &(df_final_subset['marital_status']=='married')&(df_final_subset['income_group']=='Middle Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Middle income married older parent'

In [72]:
#Upper Income Married Older Parent
df_final_subset.loc[(df_final_subset['age']>=30) &(df_final_subset['marital_status']=='married')&(df_final_subset['income_group']=='Upper Income')&(df_final_subset['number_of_dependants']>0), 'customer_income_profile']='Upper income married older parent'

In [73]:
#Low Income Married Without Children
df_final_subset.loc[(df_final_subset['marital_status']!='single') & (df_final_subset['income_group']=='Low Income') & (df_final_subset['number_of_dependants']==0), 'customer_income_profile']='Low income married without children'

In [74]:
#Middle Income Married Without Children 
df_final_subset.loc[(df_final_subset['marital_status']!='single')&(df_final_subset['income_group']=='Middle Income')&(df_final_subset['number_of_dependants']==0), 'customer_income_profile']='Middle income married without children'

In [75]:
#Upper Income Married Without Children
df_final_subset.loc[(df_final_subset['marital_status']!='single')&(df_final_subset['income_group']=='Upper Income')&(df_final_subset['number_of_dependants']==0), 'customer_income_profile']='Upper income married without children'

In [76]:
#Low Income Single Without Children
df_final_subset.loc[(df_final_subset['marital_status']=='single')&(df_final_subset['income_group']=='Low Income') & (df_final_subset['number_of_dependants']==0), 'customer_income_profile']='Low income single without children'

In [77]:
#Middle Income Single Without Children
df_final_subset.loc[(df_final_subset['marital_status']=='single')&(df_final_subset['income_group']=='Middle Income') & (df_final_subset['number_of_dependants']==0), 'customer_income_profile']='Middle income single without children'

In [78]:
#Upper Income Single Without Children
df_final_subset.loc[(df_final_subset['marital_status']=='single')&(df_final_subset['income_group']=='Upper Income') & (df_final_subset['number_of_dependants']==0), 'customer_income_profile']='Upper income single without children'

In [79]:
df_final_subset['customer_income_profile'].value_counts(dropna=False)

Middle income married older parent        356053
Upper income married older parent         153107
Middle income single without children     109313
Middle income married young parent         71962
Low income married older parent            62478
Middle income married without children     45300
Middle income single parent                36597
Upper income married without children      27266
Upper income single without children       24901
Low income single without children         21149
Low income married young parent            14465
Low income married without children         7446
Low income single parent                    7306
Upper income married young parent            596
Upper income single parent                   290
Name: customer_income_profile, dtype: int64

In [80]:
df_final_subset['customer_income_profile'].shape

(938229,)

# Assign Hourly Groups

In [81]:
#Before 8am
df_final_subset.loc[(df_final_subse
                     t['order_time_of_day']>=0)&(df_final_subset['order_time_of_day']<8), 'time_period']='Before 8am'

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1637456856.py, line 2)

In [ ]:
#8am-5pm
df_final_subset.loc[(df_final_subset['order_time_of_day']>=8)&(df_final_subset['order_time_of_day']<17), 'time_period']='Between 8am to 5pm'

In [ ]:
#After 5pm
df_final_subset.loc[(df_final_subset['order_time_of_day']>18), 'time_period']='After 5pm'

In [ ]:
df_final_subset['time_period'].value_counts(dropna=False)

In [ ]:
df_final_subset['time_period'].shape

In [ ]:
df_final_subset.head()

# Assign Day Values

In [ ]:
df_final_subset.loc[df_final_subset['orders_day_of_week']==0, 'day']='Saturday'

In [ ]:
df_final_subset.loc[df_final_subset['orders_day_of_week']==1, 'day']='Sunday'

In [ ]:
df_final_subset.loc[df_final_subset['orders_day_of_week']==2, 'day']='Monday'

In [ ]:
df_final_subset.loc[df_final_subset['orders_day_of_week']==3, 'day']='Tuesday'

In [ ]:
df_final_subset.loc[df_final_subset['orders_day_of_week']==4, 'day']='Wednesday'

In [ ]:
df_final_subset.loc[df_final_subset['orders_day_of_week']==5, 'day']='Thursday'

In [ ]:
df_final_subset.loc[df_final_subset['orders_day_of_week']==6, 'day']='Friday'

In [ ]:
df_final_subset['day'].value_counts(dropna=False)

In [ ]:
df_final_subset['day'].shape

In [ ]:
#Export Data
df_final_subset.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'final_subset_sample.pkl'))