In [47]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [48]:
#Import dataframe
path=r'C:\Users\alexl\CareerFoundry\Instacart Basket Analysis'

In [95]:
df_orders_products_merged=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [96]:
#Create mini subset
df=df_orders_products_merged[:1000000]

In [97]:
df.shape

(1000000, 17)

In [98]:
df_orders_products_merged.loc[df_orders_products_merged['prices']>15, 'price_range_loc']='High range product'

In [99]:
df_orders_products_merged.loc[(df_orders_products_merged['prices']<=15) & (df['prices']>5), 'price_range_loc']='Mid range product'

In [100]:
df_orders_products_merged.loc[df_orders_products_merged['prices']<5, 'price_range_loc']='Low range product'

In [101]:
df_orders_products_merged['price_range_loc']. value_counts(dropna=False)

NaN                   21359600
Low range product      9900480
Mid range product       756450
High range product      417682
Name: price_range_loc, dtype: int64

In [54]:
df.loc[df['prices']>15, 'price_range_loc']='High range product'

In [55]:
df.loc[(df['prices']<=15) & (df['prices']>5), 'price_range_loc']='Mid range product'

In [56]:
df.loc[df['prices']<5, 'price_range_loc']='Low range product'

In [57]:
df['price_range_loc']. value_counts(dropna=False)

Mid range product    756450
Low range product    200945
NaN                   42605
Name: price_range_loc, dtype: int64

In [58]:
#Find busiest day of the week step 1: find values of days of week and their orders
df['orders_day_of_week']. value_counts(dropna=False)

1    189421
0    184410
2    133958
5    130683
6    124839
3    119801
4    116888
Name: orders_day_of_week, dtype: int64

In [59]:
result=[]

for value in df["orders_day_of_week"]:
    if value==0:
        result.append("Busiest day")
    elif value==4:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [60]:
df['Busiest_day']=result

In [61]:
df['Busiest_day'].value_counts(dropna=False)

Regularly busy    698702
Busiest day       184410
Least busy        116888
Name: Busiest_day, dtype: int64

In [62]:
#Account for 2 busiest and 2 slowest days
result_v2=[]

for value in df["orders_day_of_week"]:
    if value==0 or value ==1:
        result_v2.append("Busiest days")
    elif value==4 or value ==3:
        result_v2.append("Least busy days")
    else:
        result_v2.append("Regularly busy")

In [63]:
df['Busiest_days']=result_v2

In [64]:
df['Busiest_days'].value_counts(dropna=False)

Regularly busy     389480
Busiest days       373831
Least busy days    236689
Name: Busiest_days, dtype: int64

In [65]:
#New Column for "busiest period of day"

In [66]:
df.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_days
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Least busy days
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Least busy days
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy days
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy days

In [67]:
df=df.drop('Unnamed: 0.1', axis=1)

In [68]:
df=df.drop('Unnamed: 0', axis=1)

In [69]:
df=df.drop('_merge', axis=1)

In [70]:
df.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days

In [71]:

#Check frequency of values in "order_hour_of_day" column
df['order_time_of_day'].value_counts()

10    90492
11    85835
9     84211
14    81965
15    81388
13    81377
12    79248
16    76499
17    60697
8     57772
18    46755
19    35989
7     29181
20    28213
21    23796
22    19103
23    11911
6      8827
0      6451
1      3163
5      2552
2      1865
4      1427
3      1283
Name: order_time_of_day, dtype: int64

In [72]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Columns: 17 entries, order_id to Busiest_days
dtypes: float16(1), float64(1), int16(6), int32(1), int8(3), object(5)
memory usage: 73.4+ MB

In [73]:
#Because client wants time groups of three sections, can include 8 hours of most, average, and fewest orders throughout the day.

In [74]:
#For-loop if statement of time groupings
result_v3=[]

for value in df["order_time_of_day"]:
    if value in[10, 11, 14, 15, 13, 12, 16, 9]:
        result_v3.append("Most Orders")
    elif value in [3, 4, 2, 5, 1, 0, 6, 23]:
        result_v3.append("Fewest Orders")
    else:
        result_v3.append("Average orders")

In [75]:
#Add to dataframe as "Busiest_period_of_day"
df['busiest_period_of_day']=result_v3

In [76]:
df[['order_time_of_day', 'busiest_period_of_day']].head(10)

   order_time_of_day busiest_period_of_day
0                  8        Average orders
1                  7        Average orders
2                 12           Most Orders
3                  7        Average orders
4                 15           Most Orders
5                  7        Average orders
6                  9           Most Orders
7                 14           Most Orders
8                 16           Most Orders
9                  8        Average orders

In [77]:
#Print Frequency
df['busiest_period_of_day'].value_counts()

Most Orders       661015
Average orders    301506
Fewest Orders      37479
Name: busiest_period_of_day, dtype: int64

In [78]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 18 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   order_id                1000000 non-null  int32
 1   user_id                 1000000 non-null  int16
 2   eval_set                1000000 non-null  object
 3   order_number            1000000 non-null  int8
 4   orders_day_of_week      1000000 non-null  int8
 5   order_time_of_day       1000000 non-null  int8
 6   days_since_prior_order  939915 non-null   float16
 7   product_id              1000000 non-null  int16
 8   add_to_cart_order       1000000 non-null  int16
 9   reordered               1000000 non-null  int16
 10  product_name            1000000 non-null  object
 11  aisle_id                1000000 non-null  int16
 12  department_id           1000000 non-null  int16
 13  prices                  1000000 non-null  float64
 14  price_range_loc         957395 non-null   object
 15  Busiest_day             1000000 non-null  object
 16  Busiest_days            1000000 non-null  object
 17  busiest_period_of_day   1000000 non-null  object
dtypes: float16(1), float64(1), int16(6), int32(1), int8(3), object(6)
memory usage: 436.2 MB

In [79]:
df=df.astype({"prices": "float32"})

In [80]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 18 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   order_id                1000000 non-null  int32
 1   user_id                 1000000 non-null  int16
 2   eval_set                1000000 non-null  object
 3   order_number            1000000 non-null  int8
 4   orders_day_of_week      1000000 non-null  int8
 5   order_time_of_day       1000000 non-null  int8
 6   days_since_prior_order  939915 non-null   float16
 7   product_id              1000000 non-null  int16
 8   add_to_cart_order       1000000 non-null  int16
 9   reordered               1000000 non-null  int16
 10  product_name            1000000 non-null  object
 11  aisle_id                1000000 non-null  int16
 12  department_id           1000000 non-null  int16
 13  prices                  1000000 non-null  float32
 14  price_range_loc         957395 non-null   object
 15  Busiest_day             1000000 non-null  object
 16  Busiest_days            1000000 non-null  object
 17  busiest_period_of_day   1000000 non-null  object
dtypes: float16(1), float32(1), int16(6), int32(1), int8(3), object(6)
memory usage: 432.4 MB

In [81]:
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))