In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import dataframe
path=r'C:\Users\Alex\Instacart Basket Analysis'

In [3]:
df_ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [4]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [5]:
#Aggregate the mean of the "order_number" column grouped by "department_id" for entire dataframe
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

this way we are able to see the number of orders in every single department.

In [6]:
#Create loyalty flag for existing customers using the transform() and loc() functions

In [7]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order']>40, 'loyalty_flag']='Loyal customer'

In [8]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order']<=40)&(df_ords_prods_merge['max_order']>10), 'loyalty_flag']='Regular customer'

In [9]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order']<=10, 'loyalty_flag']='New customer'

In [10]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    483226
Loyal customer      417483
New customer         99291
Name: loyalty_flag, dtype: int64

In [11]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.866715  1.0  14.8
New customer      7.726155  1.0  14.8
Regular customer  7.797883  1.0  14.8

the mean prices for loyal customers is lower than that of regular customers, and new customers have the highest mean of prices. the minimum and maximum are the same across the board

In [13]:
#Target different types of spenders in their marketing campaigns

In [12]:
df_ords_prods_merge['avg_price']=df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_price']>=10, 'spending_flag']='High spender'

In [15]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_price']<=10, 'spending_flag']='Low spender'

In [16]:
#Determine frequent vs non frequent customers

In [17]:
df_ords_prods_merge['median_frequency']=df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [18]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_frequency']>=20, 'frequency_flag']='Non-frequent customer'

In [19]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_frequency']>10)&(df_ords_prods_merge['median_frequency']<=20), 'frequency_flag']='Regular customer'

In [20]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_frequency']<=10, 'frequency_flag']='Frequent customer'

In [21]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_aggr.pkl'))