In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import gc

In [2]:
#Import dataframe
path=r'C:\Users\Alex\Instacart Basket Analysis'

In [3]:
df_customers=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [4]:
df_ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_aggr.pkl'))

In [5]:
#Wrangle data of customers file
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
df_customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [7]:
df_customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [8]:
#Changing user_id int to match with other dataframe
df_customers=df_customers.astype({"user_id": "int16"})

In [9]:
df_customers=df_customers.astype({"Age": "int8"})

In [10]:
df_customers=df_customers.astype({"n_dependants": "int32"})

In [11]:
df_customers=df_customers.astype({"income": "int32"})

Spoke with mentor regarding dropping name columns as this won't be necessary to our work and may help with limited file size

In [12]:
#Dropping names
df_customers=df_customers.drop(columns=['First Name'])

In [13]:
df_customers=df_customers.drop(columns=['Surnam'])

In [14]:
#Changing names for consistency
df_customers.rename(columns={'Gender': 'gender'}, inplace=True)

In [15]:
df_customers.rename(columns={'STATE': 'state'}, inplace=True)

In [16]:
df_customers.rename(columns={'Age': 'age'}, inplace=True)

In [17]:
df_customers.rename(columns={'n_dependants': 'number_of_dependants'}, inplace=True)

In [18]:
df_customers.rename(columns={'fam_status':'marital_status'}, inplace=True)

In [19]:
#Check for missing values
df_customers.isnull().sum()

user_id                 0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependants    0
marital_status          0
income                  0
dtype: int64

In [20]:
#Check for duplicats
df_dups=df_customers[df_customers.duplicated()]

In [21]:
df_dups

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, number_of_dependants, marital_status, income]
Index: []

no duplicats

In [22]:
#Wrangle data of ords_prods_merge file
df_ords_prods_merge.head

<bound method NDFrame.head of         order_id  user_id eval_set  order_number  orders_day_of_week  \
0        2539329        1    prior             1                   2
1        2398795        1    prior             2                   3
2         473747        1    prior             3                   3
3        2254736        1    prior             4                   4
4         431534        1    prior             5                   4
...          ...      ...      ...           ...                 ...
999995   2836489   -31981    prior            14                   0
999996   1843600   -31976    prior             5                   1
999997    733106   -31976    prior             9                   2
999998   1650124   -31976    prior            17                   6
999999   3378258   -31976    prior            22                   6

        order_time_of_day  days_since_prior_order  product_id  \
0                       8                     NaN         196
1                       7                    15.0         196
2                      12                    21.0         196
3                       7                    29.0         196
4                      15                    28.0         196
...                   ...                     ...         ...
999995                 15                     6.0       30489
999996                 19                     9.0       30489
999997                 22                    10.0       30489
999998                 17                    13.0       30489
999999                 10                    15.0       30489

        add_to_cart_order  reordered  ...    price_range_loc     Busiest_day  \
0                       1          0  ...  Mid range product  Regularly busy
1                       1          1  ...  Mid range product  Regularly busy
2                       1          1  ...  Mid range product  Regularly busy
3                       1          1  ...  Mid range product      Least busy
4                       1          1  ...  Mid range product      Least busy
...                   ...        ...  ...                ...             ...
999995                  2          0  ...  Mid range product     Busiest day
999996                  2          0  ...  Mid range product  Regularly busy
999997                  3          1  ...  Mid range product  Regularly busy
999998                  1          1  ...  Mid range product  Regularly busy
999999                  3          1  ...  Mid range product  Regularly busy

           Busiest_days  busiest_period_of_day max_order      loyalty_flag  \
0        Regularly busy         Average orders        12  Regular customer
1       Least busy days         Average orders        12  Regular customer
2       Least busy days            Most Orders        12  Regular customer
3       Least busy days         Average orders        12  Regular customer
4       Least busy days            Most Orders        12  Regular customer
...                 ...                    ...       ...               ...
999995     Busiest days            Most Orders        23  Regular customer
999996     Busiest days         Average orders        31  Regular customer
999997   Regularly busy         Average orders        31  Regular customer
999998   Regularly busy         Average orders        31  Regular customer
999999   Regularly busy            Most Orders        31  Regular customer

        avg_price spending_flag  median_frequency     frequency_flag
0        6.385246   Low spender              20.0   Regular customer
1        6.385246   Low spender              20.0   Regular customer
2        6.385246   Low spender              20.0   Regular customer
3        6.385246   Low spender              20.0   Regular customer
4        6.385246   Low spender              20.0   Regular customer
...           ...           ...               ...                ...
999995  10.840000  High spender               8.5  Frequent customer
999996   5.637500   Low spender               9.0  Frequent customer
999997   5.637500   Low spender               9.0  Frequent customer
999998   5.637500   Low spender               9.0  Frequent customer
999999   5.637500   Low spender               9.0  Frequent customer

[1000000 rows x 24 columns]>

In [23]:
df_ords_prods_merge.dtypes

order_id                    int32
user_id                     int16
eval_set                   object
order_number                 int8
orders_day_of_week           int8
order_time_of_day            int8
days_since_prior_order    float16
product_id                  int16
add_to_cart_order           int16
reordered                   int16
product_name               object
aisle_id                    int16
department_id               int16
prices                    float32
price_range_loc            object
Busiest_day                object
Busiest_days               object
busiest_period_of_day      object
max_order                    int8
loyalty_flag               object
avg_price                 float32
spending_flag              object
median_frequency          float16
frequency_flag             object
dtype: object

In [24]:
df_ords_prods_merge.shape

(1000000, 24)

In [25]:
df_customers.shape

(206209, 8)

In [26]:
#merge data sets
df_merge=df_customers.merge(df_ords_prods_merge, on='user_id', indicator=True)

In [27]:
#Export 
df_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Instacart_Basket_Merged.pkl'))

In [28]:
df_merge.describe()

,user_id,age,number_of_dependants,income,order_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order,avg_price,median_frequency
count,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,2993364.0,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,3.184707e+06,3181891.0
mean,5.019410e+02,4.953867e+01,1.501355e+00,9.508800e+04,1.710344e+06,1.873972e+01,2.686772e+00,1.327334e+01,NaN,2.351557e+03,6.078639e+00,7.699939e-01,4.440674e+01,8.738807e+00,7.821309e+00,3.959352e+01,7.821305e+00,NaN
std,1.802277e+04,1.846842e+01,1.119192e+00,4.200413e+04,9.874640e+05,1.857063e+01,2.053515e+00,4.217467e+00,0.0,1.891313e+04,5.697324e+00,4.208365e-01,2.892643e+01,6.419313e+00,3.664742e+00,2.532308e+01,2.087831e+00,0.0
min,-3.276800e+04,1.800000e+01,0.000000e+00,2.590300e+04,5.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,-3.274400e+04,1.000000e+00,0.000000e+00,2.100000e+01,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.0
25%,-1.460400e+04,3.400000e+01,0.000000e+00,6.106500e+04,8.554935e+05,5.000000e+00,1.000000e+00,1.000000e+01,5.0,-1.777000e+04,2.000000e+00,1.000000e+00,2.400000e+01,4.000000e+00,6.300000e+00,1.900000e+01,6.420690e+00,6.0
50%,2.225000e+03,5.000000e+01,2.000000e+00,9.396700e+04,1.709930e+06,1.200000e+01,2.000000e+00,1.300000e+01,7.0,1.317600e+04,4.000000e+00,1.000000e+00,2.400000e+01,4.000000e+00,9.000000e+00,3.500000e+01,7.981250e+00,7.0
75%,1.456600e+04,6.500000e+01,3.000000e+00,1.246080e+05,2.565273e+06,2.700000e+01,5.000000e+00,1.600000e+01,14.0,1.317600e+04,8.000000e+00,1.000000e+00,6.700000e+01,1.600000e+01,1.030000e+01,5.400000e+01,9.368293e+00,11.0
max,3.276600e+04,8.100000e+01,3.000000e+00,5.939010e+05,3.421068e+06,9.900000e+01,6.000000e+00,2.300000e+01,30.0,3.048900e+04,9.900000e+01,1.000000e+00,1.210000e+02,2.000000e+01,1.480000e+01,9.900000e+01,1.480000e+01,30.0

In [29]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3184707 entries, 0 to 3184706
Data columns (total 32 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 int16
 1   gender                  object
 2   state                   object
 3   age                     int8
 4   date_joined             object
 5   number_of_dependants    int32
 6   marital_status          object
 7   income                  int32
 8   order_id                int32
 9   eval_set                object
 10  order_number            int8
 11  orders_day_of_week      int8
 12  order_time_of_day       int8
 13  days_since_prior_order  float16
 14  product_id              int16
 15  add_to_cart_order       int16
 16  reordered               int16
 17  product_name            object
 18  aisle_id                int16
 19  department_id           int16
 20  prices                  float32
 21  price_range_loc         object
 22  Busiest_day             object
 23  Busiest_days            object
 24  busiest_period_of_day   object
 25  max_order               int8
 26  loyalty_flag            object
 27  avg_price               float32
 28  spending_flag           object
 29  median_frequency        float16
 30  frequency_flag          object
 31  _merge                  category
dtypes: category(1), float16(2), float32(2), int16(6), int32(3), int8(5), object(13)
memory usage: 467.7+ MB