In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import dataframe
path=r'C:\Users\alexl\CareerFoundry\Instacart Basket Analysis'

In [3]:
#Import df_prods
df_products=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=False)

In [4]:
df_products.shape

(49693, 6)

In [5]:
# 3. In a new notebook, import the "orders_products_combined"
df_orders_products_combined=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
# 4. Check the shape of the imported dataframe
df_orders_products_combined.shape

(32434489, 13)

In [7]:
# 5. Combine -merge- orders_products_combined dataframe with your products data set.

In [8]:
#looking for common column
df_orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [9]:
df_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

product_id is a common column

In [10]:
df_products=df_products.drop(columns=['Unnamed: 0'])

In [11]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
#Drop the '_merge' column from the dataframe orders_products_combined
df_orders_products_combined=df_orders_products_combined.drop(columns=['_merge'])

In [16]:
#Memory keeps crashing at the point below
##Which columns are int64 and float62
df_orders_products_combined.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Columns: 12 entries, Unnamed: 0.1 to reordered
dtypes: float16(1), int32(2), int64(5), int8(3), object(1)
memory usage: 2.1+ GB

In [36]:
df_orders_products_combined.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Columns: 12 entries, Unnamed: 0.1 to reordered
dtypes: float16(1), int32(2), int64(5), int8(3), object(1)
memory usage: 2.1+ GB

In [38]:
df_orders_products_combined.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Columns: 12 entries, Unnamed: 0.1 to reordered
dtypes: float16(1), int32(2), int64(5), int8(3), object(1)
memory usage: 2.1+ GB

In [16]:
df_products.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Columns: 5 entries, product_id to prices
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [17]:
column_dtypes=df_orders_products_combined.dtypes

In [18]:
int64_columns=column_dtypes[column_dtypes=='int64']

In [19]:
print(int64_columns.index)

Index(['Unnamed: 0.1', 'Unnamed: 0', 'product_id', 'add_to_cart_order',
       'reordered'],
      dtype='object')

In [14]:
#test converting one column to int32
df_orders_products_combined=df_orders_products_combined.astype({"Unnamed: 0.1": "int16"})

In [15]:
#converting remainder columns in orders_products_combined to int32
df_orders_products_combined=df_orders_products_combined.astype({"Unnamed: 0": "int16", "product_id": "int16", "add_to_cart_order": "int16", "reordered": "int16"})

In [27]:
#checking which columns contain int64 for df_products columns
column_dtypes=df_products.dtypes

In [28]:
int64_columns=column_dtypes[column_dtypes=='int64']

In [29]:
print(int64_columns.index)

Index(['product_id', 'aisle_id', 'department_id'], dtype='object')

In [16]:
#converting df_products columns to int32
df_products=df_products.astype({"product_id": "int16", "aisle_id": "int16", "department_id": "int16"})

In [17]:
#Merging orders_products_combined_df with the df_products via the product_id colum
df_merged=df_orders_products_combined.merge(df_products, on = 'product_id', indicator=True)

In [18]:
df_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))